.error {
    color: red;
    background-color: gray;
    font-size: 20px;
}

.notif {
    color: green;
    background-color: gray;
    font-size: 20px;
}

.blog {
    padding-top: 10;
    padding-left: 2;
    border: solid;
    border-width: 1;
    margin-bottom: 5;
}